In [9]:
import numpy as np
import pandas as pd

In [20]:
df = pd.read_csv('Variables_Municipios.csv')
df

,CP,Entidad,Alcaldia,P_NIVSOCEC,Sum_Servicios,Num_Celulares,Num_Autos,Empresas,Empleos
0,44360,Jalisco,San Pedro Tlaquepaque,121.35,855,263,30,6522,26230
1,44100,Jalisco,San Pedro Tlaquepaque,130.55,1037,347,25,5564,41704
2,44200,Jalisco,San Pedro Tlaquepaque,139.48,932,373,48,4803,32203
3,36700,Guanajuato,Salamanca,114.95,275,123,130,3092,12628
4,44730,Jalisco,San Pedro Tlaquepaque,120.88,471,229,71,2996,14553
...,...,...,...,...,...,...,...,...,...
325,36715,Guanajuato,Salamanca,234.61,0,0,58,1,3
326,36753,Guanajuato,Salamanca,76.07,0,0,116,1,3
327,36850,Guanajuato,Salamanca,54.35,14,32,94,1,3
328,36866,Guanajuato,Salamanca,34.69,0,0,21,1,3
329,36897,Guanajuato,Salamanca,64.15,1,0,30,1,3

In [21]:
len(df['CP'].unique())

298

In [22]:
variables = ['P_NIVSOCEC', 'Sum_Servicios', 'Num_Celulares','Num_Autos', 'Empresas', 'Empleos']
alcaldia = df.Alcaldia.unique()
quantiles = []

for w in variables:
    nombre = "Cal_"+str(w)
    df[nombre] = ""


for x in alcaldia:   
    for y in variables:
        
        consulta = df[df['Alcaldia'] == str(x)][[str(y)]].reset_index()
        qs = consulta[y].quantile([.2, .4, .6, .8, 1]).values
        quantiles.append(qs)
        nombre = "Cal_"+str(y)
    
        for a,b in consulta.itertuples(index=False):
            if b <= qs[0]:
                df.loc[a, str(nombre)] = "1"
            elif (b <= qs[1]) & (b > qs[0]):
                df.loc[a, str(nombre)] = "2"
            elif (b <= qs[2]) & (b > qs[1]):
                df.loc[a, str(nombre)] = "3"
            elif (b <= qs[3]) & (b > qs[2]):
                df.loc[a, str(nombre)] = "4"
            elif b <= qs[4]:
                df.loc[a, str(nombre)] = "5"
            else:
                df.loc[a, str(nombre)] = "0"

In [23]:
df

,CP,Entidad,Alcaldia,P_NIVSOCEC,Sum_Servicios,Num_Celulares,Num_Autos,Empresas,Empleos,Cal_P_NIVSOCEC,Cal_Sum_Servicios,Cal_Num_Celulares,Cal_Num_Autos,Cal_Empresas,Cal_Empleos
0,44360,Jalisco,San Pedro Tlaquepaque,121.35,855,263,30,6522,26230,2,5,5,2,5,5
1,44100,Jalisco,San Pedro Tlaquepaque,130.55,1037,347,25,5564,41704,3,5,5,1,5,5
2,44200,Jalisco,San Pedro Tlaquepaque,139.48,932,373,48,4803,32203,3,5,5,2,5,5
3,36700,Guanajuato,Salamanca,114.95,275,123,130,3092,12628,4,5,5,5,5,5
4,44730,Jalisco,San Pedro Tlaquepaque,120.88,471,229,71,2996,14553,2,5,5,3,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,36715,Guanajuato,Salamanca,234.61,0,0,58,1,3,5,1,1,2,1,1
326,36753,Guanajuato,Salamanca,76.07,0,0,116,1,3,2,1,1,4,1,1
327,36850,Guanajuato,Salamanca,54.35,14,32,94,1,3,1,4,4,4,1,1
328,36866,Guanajuato,Salamanca,34.69,0,0,21,1,3,1,1,1,1,1,1
329,36897,Guanajuato,Salamanca,64.15,1,0,30,1,3,2,2,1,1,1,1

In [24]:
df[(df['CP'] == 72703) | (df['CP'] == 56373) | (df['CP'] == 44910) | (df['CP'] == 55718) | (df['CP'] == 36723)]

,CP,Entidad,Alcaldia,P_NIVSOCEC,Sum_Servicios,Num_Celulares,Num_Autos,Empresas,Empleos,Cal_P_NIVSOCEC,Cal_Sum_Servicios,Cal_Num_Celulares,Cal_Num_Autos,Cal_Empresas,Cal_Empleos
56,44910,Jalisco,San Pedro Tlaquepaque,133.00,248,158,52,838,8868,3,5,5,2,4,5
74,56373,México,Chicoloapan de Juárez,86.27,102,50,25,629,2471,4,4,4,1,3,3
75,55718,México,Coacalco de Berrizabal,112.23,48,59,112,624,3866,2,4,4,4,4,4
257,36723,Guanajuato,Salamanca,101.07,0,2,64,24,133,3,1,2,2,2,2
322,72703,Puebla,Cuautlancingo,188.70,0,1,50,1,3,5,1,1,3,1,1